{% extends "admin/master.html" %}
{% block body %}
<h1>Admin Pannel</h1>
<center><h1>Reports</h1></center>
<div style="display: flex; flex-direction:row; justify-content:center">
    <div>
        <h2>Sample powerbi report</h2>
        <iframe title="Report Section" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiY2IxOGI3NjItZTE3Ni00YTYxLWFhNjMtYWE4YmM5NGVjZGIxIiwidCI6ImNjNmIyZWVhLWM4NjQtNDgzOS04NWY1LTk0NzM2ZmFjYzNiZSIsImMiOjF9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div>
        <h3>Sales Report</h3>
        <iframe title="Report Section" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiZWZjZjI0YmItZWIwNy00ZmFkLTg4ZWUtY2EwNmRiMWNjZGVjIiwidCI6ImNjNmIyZWVhLWM4NjQtNDgzOS04NWY1LTk0NzM2ZmFjYzNiZSIsImMiOjF9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>

{% endblock %}